source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/efuse/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/esp_common/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/esp_hw_support/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/esp_security/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/esp_system/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/freertos/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/hal/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/log/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/newlib/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/soc/Kconfig"
source "/home/w0x7ce/Downloads/esp_idf_v5.4/components/spi_flash/Kconfig"